
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <title>Bidding Page</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
    <body>
        <div class="navbar-container">
            <!-- Existing navbar content goes here -->
            {% include 'components/navbar.html' %}
        </div>
        <h1>Available Items for Bidding</h1>
        <!-- Button to go to the item creation page -->
        <a href="{% url 'bidding:create_item' %}" class="add-item-button"
            >Add New Item</a
        >
        <div class="item-list">
            {% for item in items %}
            <div class="item">
                <h2>Item Name: {{ item.name }}</h2>
                <p>Description: {{ item.description }}</p>
                <p>Category: {{ item.category }}</p>
                <p>Starting Price: {{ item.starting_price }}</p>
                <p>Start date: {{ item.start_date }}</p>
                <p>End date: {{ item.end_date }}</p>
                <!-- Update the URL tag with the namespace -->
                <a href="{% url 'bidding:item_detail' item_id=item.item_id %}"
                    >View Details</a
                >
            </div>
            {% empty %}
            <p>No items available for bidding at the moment.</p>
            {% endfor %}
        </div>
    </body>
</html>
