/* item_detail.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: #333;
    text-align: center;
}

.item-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
button {
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 5px;
    background-color: #eaeaea;
    border-radius: 4px;
}